<footer role="contentinfo">
  <div class="bmm-footer-grid">
    <div class="bmm-c4hu">
      <a href="https://code4.hu/" aria-label="Code for Hungary honlapja">
        <img alt="Code for Hungary logó" class="bmm-footer-logo" src="/img/c4hu-logo.svg">
      </a>
    </div>
    <div class="bmm-kmonitor">
      <a href="https://k-monitor.hu/" aria-label="K-Monitor honlapja">
        <img alt="K-Monitor logó" class="bmm-footer-logo" src="/img/kmonitor-white.png">
      </a>
    </div>
    <div class="bmm-adatkezelesi">
      <a href="https://adatbazis.k-monitor.hu/egyeb/adatkezelesi-tajekoztato" aria-label="Adatkezelési tájékoztató megtekintése">Adatkezelési tájékoztató</a> &copy; <span aria-label="Szerzői jog éve">2025</span>
    </div>
  </div>
</footer>
